[submodule "agrorob_panel_launch"]
	path = agrorob_panel_launch
	url = https://github.com/icos-pit/agrorob_panel_launch.git
[submodule "agrorob_visualization"]
	path = agrorob_visualization
	url = https://github.com/icos-pit/agrorob_visualization.git
[submodule "agrorob_rviz_streetmap"]
	path = agrorob_rviz_streetmap
	url = https://github.com/icos-pit/agrorob_rviz_streetmap
